body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #e50914; 
}

header {
    background-color: #111; 
    color: #e50914;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1em;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #e50914;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
}

nav a:hover {
    border-bottom: 2px solid #e50914; 
}


nav a[href="#"] {
    color: white; 
}


.main-section {
    padding: 2em;
}

.best-movie {
    background-color: #202020;
    padding: 2em;
    border-radius: 10px;
    text-align: center;
}

.best-movie img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

.best-movie h2 {
    color: #e50914; 
   
}

.best-movie p {
    margin-bottom: 1em;
    color: white;
    text-align:left;
    margin-left: 40em;
}

.best-movie button {
    background-color: #e50914; 
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.best-movie button:hover {
    background-color: #ff3c1f; 
}

.top-rated-movies,
.category {
    margin-top: 2em;
}

.carousel {
    display: flex;
    overflow-x: auto; /* Permet le défilement horizontal */
}

.carousel::-webkit-scrollbar {
    display: none; /* Masquer la barre de défilement */
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 1em;
    border-radius: 5px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 400px; 
    object-fit: cover;
    border-radius: 5px;
}

h1,h2,h3,h4 {
    color: #e50914; 
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 1em;
}

#fullDescription {
    color: white;
    padding: 1em;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }